# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
push_git.sh

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

# Claude dialogs
dialog/2025-12-09_session-581cb8a8.md
dialog/2025-12-09_session-e301e7e3.md
dialog/2025-12-09_session-22d13eb4.md